<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 위치를 받습니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>사용자의 위치를 받습니다.</string>
	<key>NMFClientId</key>
	<string>2yjcp00in8</string>
	<key>CLIENT_ID</key>
	<string>197612814009-jsh7udlvb60cp8dbsutre585u77pias2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197612814009-jsh7udlvb60cp8dbsutre585u77pias2</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ySk4miRIHlOazPY5bWZjo5RCAgdLGVM</string>
	<key>GCM_SENDER_ID</key>
	<string>197612814009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hcmlr21.JayTalk2</string>
	<key>PROJECT_ID</key>
	<string>jaytalk2-e50d2</string>
	<key>STORAGE_BUCKET</key>
	<string>jaytalk2-e50d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:197612814009:ios:a480100a89b39c85dca568</string>
	<key>DATABASE_URL</key>
	<string>https://jaytalk2-e50d2.firebaseio.com</string>
</dict>
</plist>
